container_commands:
   01_migrate:
      command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
      leader_only: true
   02_createsuperuser:
      command: "source /opt/python/run/venv/bin/activate && python images/management/commands/createsu.py"
      leader_only: true
   03_collectstatic:
      command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
   aws:elasticbeanstalk:application:environment:
      DJANGO_SETTINGS_MODULE: "portfolio.settings"
      "PYTHONPATH": "/opt/python/current/app/portfolio:$PYTHONPATH"
   aws:elasticbeanstalk:container:python:
      WSGIPath: portfolio/wsgi.py
   aws:elasticbeanstalk:container:python:staticfiles:
      "/static/": "/static/"
